<!DOCTYPE HTML>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
		<style>
			table {
				border: 1px solid;
			}

			td {
				border: 1px solid;
				vertical-align: top;
				padding: 10px;
			}
		</style>
	</head>
	<body>
		<table>
		<tr>
			<td>Email</td>
			<td><%= @inquiry.email %></td>
		</tr>
		<tr>
			<td>Subject</td>
			<td><%= @inquiry.subject %></td>
		</tr>
		<tr>
			<td>Content</td>
			<td><%= simple_format(word_wrap(@inquiry.content)) %></td>
		</tr>
	</body>
</html>