.product-image {
	width: 100%;
}

.solid-line-break {
  width:100%;
  border: 1px solid #909090;
  margin-top: 30px;
  margin-bottom: 20px;
}

.product-content {
	font-size: 18px;
	line-height: 160%;
}
	
.product-content p{
	text-indent: 50px;
}

.product-content h2 {
	font-weight: bold;
}

.content-side-menu {
	font-size: 18px;
	line-height: 125%;
	list-style-type: none;
	padding-left: 0px;
}

.content-side-menu ul {
	list-style-type: none;
	padding-left: 25px;
	font-size: 13px;

}

.content-side-menu .active {
	font-weight: bold;
}

.side-menu-container {
	position: fixed;
	top: 380px;
}

.video-container iframe{
	display: block;
	margin: 0 auto;
}