<div class="home-footer">
  <div class="container">
  	<!-- // Use blank href to go to top of the current page -->
  	<p class="pull-right"><a href="">Back to top</a></p>
    <!-- // Colored Vlightcomm
    <p class="text-info">Copyright © 2014 <span style="color:#EE0000">V</span><span style="color:#00EE00">Light</span><span style="color:#0011FF">Comm</span>, Inc. All rights reserved.</p>
  	-->
    <p class="text-info">Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2014 VLightComm, Inc. All rights reserved.</p>
  </div>
</div>